

body {
  /* Location of the image */
  background-image: url(../../assets/img/summer.png);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
  
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

.card-opacity{
  background-color: rgba(33, 33, 33, 0.7);
  border-style:solid;
  border-color:#bdbdbd;
  border-width: thin; }

.button-opacity{
  background-color: rgba(33, 33, 33, 0.3);
  border-style:solid;
  border-color:#bdbdbd;
  border-width: thin; }


/* label focus color */
 .input-field input:focus + label {
   color:#f5f5f5 !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #f5f5f5 !important;
   box-shadow: 0 1px 0 0 #f5f5f5 !important}

  /* label color */
   .input-field label {
     color: #f5f5f5 ;
   }





 